.texto-menor {
    font-size: 16px;
}

.divs-facilidades {
    width: 325px;
}

.icone {
    color: #daff01;
}

.titulos-icones {
    color: #daff01;
}

.botao-lilas {
    background-color: #9353ff !important;
}
